<div id="home">
  <img src="{{sos}}" class="nav" />
  <div class="image-container">
  <img src="{{smiley}}" class="nav-home" />
  <img src="{{scheduleCalendar}}" class="nav-home" />
  </div>
  <span id="clock-time">{{time}}</span>
</div>
