#sosPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 240px;
    width: 100%;
    color: black;
    font-size: 32px;
    font-weight: bold;
}
.text {
    margin-top: 50px;
    font-size: 23px;
    font-weight: bolder;
}
.home-icon {
        width: 15%;
        height: 15%;
        margin: 0 35px;
    }
