{{!-- <img src="./../images/happyface" alt="happyface" width="128" height="128"> --}}
{{!--<img class="mood-icon" src="./happyface.png" alt="happyface" width="800px" height="800px">--}}
{{!-- <p>This is a test</p> --}}


<img src="{{left}}" class="nav"/> <img src="{{happyface}}" class="main"/> <img src="{{right}}" class="nav"/>
<img src="{{home}}" class="home"/>
