{{!-- <img src="./../images/happyface" alt="happyface" width="128" height="128"> --}}
<div><img src="./happyface.png" alt="happyface" width="450" height="450"></div>
{{!-- <p>This is a test</p> --}}

