<div class="container">
<img src="{{left}}" class="nav"/>
<div>
<p class="mood-page-text">How are</p>
<p class="mood-page-text">you feeling</p>
<p class="mood-page-text">today?</p>
</div>
<img src="{{right}}" class="nav"/
></div>
